:root {
  --red: #f54e4e;
  --green: #4aec8c;
}

body {
  background-color: #fff;
  color: #000;
}

* {
  box-sizing: border-box;
  outline: none !important;
}

.main {
  margin: 1.25rem;
  text-align: center;
  display: flex;
  align-items: left;
}

.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 3rem;
}

.timer, .pomodoro {
  padding: 1rem;
}

button {
  background-color: transparent;
  color: rgba(255,255,255,0.8);
  border: 0;
  display: inline-block;
  width: 6.25rem;
  cursor: pointer;
}

button.with-text {
  width: auto;
  background-color: #fff;
  color: #000;
  border-radius: 0.6rem;
  padding: 0.6rem 1.25rem;
  font-size: 1.4rem;
  line-height: 2.25rem;
}

button.with-text svg {
  width: 2.25rem;
  float: left;
  margin-right: 0.3rem;
}

label {
  display: block;
  margin-bottom: 0.6rem;
  margin-top: 1.25rem;
  font-size: 1.25rem;
}

.settings-button {
  display: flex;
  align-items: left;
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  margin-bottom: 3rem;
}

form {
  border: 0.2rem solid #fff;
  border-radius: 0.6rem;
  padding: 0.3rem;
  display: flex;
}

form input[type="text"] {
  display: block;
  color: #000;
  caret-color: #000;
  border: 0;
  padding: 0 0.5rem;
  width: 100%;
  font-size: 1rem;
}

div.task {
  background-color: #fff;
  border-radius: 0.6rem;
  padding: 0.3rem 0.5rem;
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
  transition: opacity .3s linear;
}

div.task svg {
  height: 1.25rem;
  margin-right: 0.3rem;
  fill: #61DAFB;
}

div.task.done {
  opacity: 0.3;
}

div.task-name, div.task form {
  flex-grow: 1;
}

div.task span {
  position: relative;
}

div.task span:before {
  content: '';
  display: block;
  width: 0;
  height: 0.05rem;
  background-color: #ddd;
  position: absolute;
  top: 0.6rem;
  transition: width .1s linear;
}

div.task.done span:before {
  width: 100%;
}

h1, h2 {
  text-align: center;
}

div.checkbox {
  display:flex;
  align-items: center;
}

.trash {
  background: none;
  border: none;
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
}

.trash-svg {
  fill: #888;
  height: 0.8rem;
}

div.task input {
  border: 0.1rem solid #555;
  border-radius:0.3rem;
  padding: 0.1rem 0.25rem;
}
